<tr>
    <!-- <span data-dojo-attach-point='nameNode'></span> -->
    <td><span>${id}</span> </td>
    <td>

        <!-- name -->
        <span data-dojo-attach-point="nameNode"></span>
        <button type="button"
                data-dojo-attach-point="whatNode"
                data-dojo-type="dijit/form/Button">
            what?
        </button>

        <!-- edit name -->
        <input type="text"
               data-dojo-attach-point="editNameNode">
        <span data-dojo-attach-point="messageNode"></span>

        <!-- actions -->
        <button type="button"
                data-dojo-attach-point="editButtonNode"
                data-dojo-type="dijit/form/Button">
            edit
        </button>
        <button type="button"
                data-dojo-attach-point="cancelButtonNode"
                data-dojo-typee="dijit/form/Button">
            cancel
        </button>

        <button type="button"
                data-dojo-attach-event='onclick: remove'
                data-dojo-type="dijit/form/Button">
            remove
        </button>
    </td>
</tr>
