<tr>
    <!-- <span data-dojo-attach-point='nameNode'></span> -->
    <td><span>${id}</span> </td>
    <td>

        <!-- name -->
        <span data-dojo-attach-point="nameNode"></span>
        <!-- edit name -->
        <button type="button"
                data-dojo-attach-point="editButtonNode"
                data-dojo-attach-event='onClick: editHandler'
                data-dojo-type="dijit/form/Button">
            edit
        </button>

        <!-- what -->
        <button type="button"
                data-dojo-attach-point="whatNode"
                data-dojo-type="dijit/form/Button">
            what?
        </button>

        <button type="button"
                data-dojo-attach-event='onClick: remove'
                data-dojo-type="dijit/form/Button">
            remove
        </button>
    </td>
</tr>
